{% load mathfilters %}

<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form method="POST">{% csrf_token %}
            <select name='lstEdificios' id='lstEdificios'>
                {% if edificios %}
                    <option value=-1>sin selección</option>
                    {% for e in edificios %}
                        <option value={{e.id}}>{{e.descripcion}}</option>
                    {% endfor %}
        
                {% else %}
                    <option value=-10>sin edificios cargados</option>
        
                {% endif %}
        
            </select>

            <select name='lstPisos' id='lstPisos'>
                <option value=-1>sin pisos cargados</option>
            </select>

            <select name='lstAreas' id='lstAreas'>
                <option value=-1>sin areas cargadas</option>
            </select>
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#lstEdificios").change(function () {
                var url = "{% url 'ajax_load_pisos' %}";
                var edificio = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'edificio': edificio
                    },
                    success: function (data) {
                        $("#lstPisos").html(data);
                    }
                });

            });

            $("#lstPisos").change(function () {
                var url = "{% url 'ajax_load_areas' %}";
                var piso = $(this).val();
                var imgPlano = $('#lstPisos option[value="' + piso + '"]').attr('Plano');

                document.getElementById('imgPlano').setAttribute('src', imgPlano)

                $.ajax({
                    url: url,
                    data: {
                        'piso': piso
                    },
                    success: function (data) {
                        $("#lstAreas").html(data);
                    }
                });
            });
        </script>


        <img id='imgPlano'  alt="Workplace" usemap="#workmap" src="" />

        <map name="workmap">
            {% if data %}
                {% for d in data %}

                    {% if d.tipo == 1 %}

                        <area style="cursor:pointer;" shape="rect" coords="{{ d.latitud|sub:d.radioMayor }}, {{d.longitud|sub:d.radioMenor}}, {{ d.latitud|add:d.radioMayor }},{{d.longitud|add:d.radioMenor}}" alt="" idArea="{{ d.idArea }}" onclick="fnClickedArea(this)">
                    {% else %}
                        <area style="cursor:pointer;" shape="circle" coords="{{ d.latitud }}, {{d.longitud}}, {{ d.radioMayor }}" alt="" idArea="{{ d.idArea }}" onclick="fnClickedArea(this)">
                    {% endif %}
                {% endfor %}
            {% else %}
            {% endif %}
          </map>
          <script>
              function fnClickedArea(el){
                  alert(el.getAttribute("idArea"));
              } 
          </script>
    </body>
</html>